<!-- begin .header -->
{{ page.admin }}
  <header class="header" role="banner">
  <div class="max-width">
  {# {% set view = drupal_view_result('alert_banner', 'block_1')|length %}
    {% if view > 0 %}
        <div class="alert-banner">
          <div class="section">
            <div class="flex-wrapper">
              {{ drupal_view('alert_banner', 'block_1') }}
            </div>
            <a href="#" class="alert-close">X</a>
          </div>
        </div>
    {% endif %} #}
    
        <div class="mobile">
          <div class="hamburger-menu">
              <div class="bar"></div>	
          </div>
        </div>  
        {# {{ drupal_form('Drupal\\search\\Form\\SearchBlockForm') }} #}
        {{ page.header }}
        <div class="inner">
          {{ page.utility }}
          {{ page.navigation }}
        </div>
      
    </div>
  </header>
  <!-- end .header -->
  {{ page.banner }}