<!-- begin .container -->
<div class="container">

  <!-- begin .header -->
  <div class="header" role="banner">
    <!-- begin .section -->
    <div class="section">
      {{ page.header }}
    </div>
    <!-- end .section -->
  </div>
  <!-- end .header -->

  {% if page.banner %}
  <!-- begin .banner -->
  <div class="banner" role="region" aria-label="Banner">
    <!-- begin .section -->
    <div class="section">
      {{ page.banner }}
    </div> 
    <!-- end .section -->
  </div>
  <!-- end .banner -->
  {% endif %}

  {% if page.tabs %}
  <!-- begin .tabs -->
  <div class="tabs" role="region" aria-label="Tabs">
    <!-- begin .section -->
    <div class="section">
      {{ page.tabs }}
    </div> 
    <!-- end .section -->
  </div>
  <!-- end .tabs -->
  {% endif %}

  <!-- begin main -->
  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    {% if page.content_top %}
    <!-- begin .content-top -->
    <div class="content-top">
      <!-- begin .section -->
      <div class="section">
        {{ page.content_top }}
      </div> 
      <!-- end .section -->
    </div>
    <!-- end .content-top -->
    {% endif %}

    <!-- begin .content-wrap -->
    <div class="content-wrap">

      {% if page.sidebar %}
      <!-- begin .sidebar -->
      <div class="sidebar">
        <!-- begin .section -->
        <div class="section">
          {{ page.sidebar }}
        </div> 
        <!-- end .section -->
      </div>
      <!-- end .sidebar -->
      {% endif %}

      <!-- begin .content -->
      <div class="content">
        <!-- begin .section -->
        <div class="section">
          {{ page.content }}
        </div> 
        <!-- end .section -->
      </div>
      <!-- end .content -->

    </div>
    <!-- end .content-wrap -->

    {% if page.content_bottom %}
    <!-- begin .content-bottom -->
    <div class="content-bottom">
      <!-- begin .section -->
      <div class="section">
        {{ page.content_bottom }}
      </div> 
      <!-- end .section -->
    </div>
    <!-- end .content-bottom -->
    {% endif %}

  </main>
  <!-- end main -->

  {% if page.footer %}
  <!-- begin footer -->
  <footer role="contentinfo">
    <!-- begin .section -->
    <div class="section">
      {{ page.footer }}
    </div> 
    <!-- end .section -->
  </footer>
  <!-- end footer -->
  {% endif %}

</div>
<!-- end .container -->

{% if page.tracking %}
<!-- begin .tracking -->
<div class="tracking element-hidden" role="region" aria-label="Tracking">
{{ page.tracking }}
</div>
<!-- end .tracking -->
{% endif %}