{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
<article{{ attributes.addClass('product') }}>
  <div class="flex">
    <div class="left">
        {{ product.field_images }}
    </div>
    <div class="right"> 
        <h1>{{ product.title }}</h1>
        <div class="product-info">
            {{ product.field_price }}
            {{ product.field_weight }} 
            {{ product.field_sku }}
        </div>
        <div class="body">
            {{ product.body }}
        </div>
        <div class="coas">
            {{ product.field_coa }}
        </div>
    </div>
    </div>

<div class="flex product-contact">
        <div class="left">
            <i class="fad fa-cart-plus"></i>
            <h3>Ecommerce Is Coming Soon! </h3>
            <p> We are currently completing the build of our Ecommerce platform and are exctied for it's launch.
            </br>Get ahead of the game and sign up for you account now!
            </br> <button><a href="/user/register"> Create A Account </a> </button></p>
        </div>
        <div class="right">
                <div class="copy">   
                    <h3>Order Now!</h3>
                    <p> Please complete the form below to email our team and place you order.
                    </br> All orders are currently being handled by email or phone.</p>
                </div>
                {{ { '#type': 'webform', '#webform': 'product_contact' } }}
        </div>
</div>
</article>