<div class="faq-container">
  {% for item in element['#items'] %}
    {% set zebra = cycle(['odd', 'even'], loop.index0) %}
      <div class="faq-single {{ zebra }}">
        <div class="title"><h3>{{ item.entity.field_para_title.value }}</h3></div>
        <div class="content"> {{item.entity.field_body.value|striptags }}</div>
      </div>
  {% endfor %}
  <script type="application/ld+json">{"@context":"https://schema.org","@type":"FAQPage","mainEntity":[{% for item in element['#items'] %}{"@type":"Question","name":"{% spaceless %}{{ item.entity.field_title.value|striptags }}{% endspaceless %}","acceptedAnswer":{"@type":"Answer","text":"{% spaceless %}{{ item.entity.field_body.value|striptags }}{% endspaceless %}"}},{% if loop.last %}{"@type":"Question","name":"{% spaceless %}{{ item.entity.field_title.value|striptags }}{% endspaceless %}","acceptedAnswer":{"@type":"Answer","text":"{% spaceless %}{{ item.entity.field_body.value|striptags }}{% endspaceless %}"}}{% endif %}{% endfor %}]}</script>
</div>